<html ng-app="listaTelefonica">
<head>
<title>Lista Telefonica</title>
<link rel="stylesheet" type="text/css" href="../lib/bootstrap.css"/>
<style>
 .jumbotron { width:400px; text-align: center; margin-left: auto; margin-right: auto; margin-top: 20px}
 .table { margin-top: 20px}
 .selecionado { background-color:  yellow }
 .negrito {font-weight: bold;}
</style>
<script src="../lib/angular.js"></script>
<script type="text/javascript">
   var app = angular.module("listaTelefonica",[]);
   app.controller("listaTelefonicaCtrl", function($scope){
  $scope.app="Lista Telefonica";
  $scope.contatos= [
         {nome: "Pedro",telefone:"999911111",cor:"black"},
         {nome: "Ana",telefone:"999911133",cor:"yellow"},
         {nome: "Maria",telefone:"999911666",cor:"red"}
  ];
    $scope.adicionarContato = function(contato) {
     $scope.contatos.push(angular.copy(contato));
     delete $scope.contato;
    }
    $scope.operadoras = [
       {nome: "Oi",codigo:14, categoria: "Celular"},
       {nome: "Vivo",codigo:15, categoria: "Celular"},
       {nome: "Tim",codigo:41, categoria: "Celular"},
       {nome: "GVT",codigo:25, categoria: "Fixo"},
       {nome: "Embratel",codigo:21, categoria: "Fixo"},
    ];
   $scope.classe="selecionado";   
   $scope.apagarContatos = function(contatos) {
    // console.log( contatos);
    var contatosNaoSelecionados = contatos.filter( function (contato) {
      if (!contato.selecionado) return contato;
    });
    console.log( contatosNaoSelecionados);
    $scope.contatos=contatosNaoSelecionados;
   }
   $scope.isContatoSelecionado = function(contatos) { 
      //console.log( contatos);
      var selec = 
      contatos.some (function(contato) {
        return contato.selecionado;
      });
      console.log( "Selecionado ? "+selec);
      return selec;
   }

   });
  </script>
</head>

<body ng-controller="listaTelefonicaCtrl">

 <div class="jumbotron">

  <h3>{{app}}</h3>
    {{contatos}}
  <table class="table" ng-show="contatos.length>0">
   <tr>
    <th></th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Operadora</th>
    <th></th>
   </tr>

   <tr ng-class="{ 'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
    <td><input type="checkbox" ng-model="contato.selecionado" /></td>
    <td>{{contato.nome}}</td>
    <td>{{contato.telefone}}</td>
    <td>{{contato.operadora.nome}}</td>
    <td><div style="width:20px;height:20px" ng-style="{'background-color':contato.cor}"
   </tr>

  </table>
  <hr/>
  É válido ? {{contatoForm.$valid}}
  <form name="contatoForm">
   <input type="text" ng-model="contato.nome" name="nome" placeholder="Nome" class="form-control" ng-required="true"/>
   <input type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone"  class="form-control"  ng-required="true"/>
   <select  ng-model="contato.operadora" name="operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" class="form-control">
    <option value="">Selecione a operadora</option>
   </select>
  </form>
  <div ng-show="contatoForm.nome.$invalid" class="alert alert-danger">
   Por favor preencha o nome 
  </div>
  <div ng-show="contatoForm.telefone.$invalid" class="alert alert-danger">
   Por favor preencha o telefone
  </div>
  <button ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid" class="btn btn-primary btn-block">Adicionar contato</button>
  <button ng-click="apagarContatos(contatos)"  class="btn btn-danger btn-block" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>  
  {{contato}}

 </div>
<div ng-include="'footer.html'"/>

<br/><br/>
<hr/>
Fonte:
<a href="https://www.youtube.com/watch?v=HDjpIT2TLP0&list=PL7BhFlLtk0H3kpGmwtTOFx4EMvn5_jS0H&index=4">AngularJS - #4 - Validando Formulários - Rodrigo Branas  </a>
<a href="http://pt.slideshare.net/rodrigobranas/mdulo-5-design-strategies-angularjs">Slides</a>
</body>
</html>
